.DS_Store
.idea
.coverage
*_pycache__
cdr/cdm/jupyter/
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.project
/.pydevproject*
/.pytest_cache/
/.settings/

# Ignore ts build folders
/ts/node_modules
/ts/build