[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# JupyterHub and system libraries (e.g., Spark, MinIO, etc.)
jupyterlab= "==4.3.5"
jupyterhub = "==5.2.1"
jupyterhub-nativeauthenticator = "==1.3.0"
dockerspawner = "==14.0.0"
jupyterhub-kubespawner = "==7.0.0"
jupyterlab_favorites = "==3.2.2"
sidecar = "==0.7.0"
json5 = "==0.10.0"
pycurl = "==7.45.4"
pyspark= "==3.5.4"
boto3 = "==1.36.11"
minio = "==7.2.15"
delta-spark = "==3.2.0"  # should match JAR version (DELTA_SPARK_VER) specified in the Dockerfile
PyMySQL = "==1.1.1"
urllib3 = "==2.3.0"
jupyterlab-git = "==0.51.0"
cdm-jupyterlab-brand-extension = {file = "https://github.com/kbaseincubator/cdm_jupyterlab_brand_extension/raw/main/dist/cdm_jupyterlab_brand_extension-0.1.0-py3-none-any.whl"}
cacheout = "==0.16.0"
psycopg = "==3.2.6"

# Jupyter AI libraries
jupyter-ai = "==2.29.0"
langchain-openai = "==0.3.3"
langchain-anthropic = "==0.3.5"
huggingface_hub = "==0.28.1"
jupyter-ai-cborg = {git = "https://github.com/kbaseincubator/cdm-jupyter-ai-cborg.git", ref = "v0.1.0"}


# Frequently utilized data visualization libraries by the science team
plotly = "==6.0.0"
tqdm = "==4.67.1"
ipywidgets = "==8.1.5"
pygraphviz = "==1.14"
scipy = "==1.15.1"
scikit-learn = "==1.6.1"
biopython = "==1.85"
seaborn = "==0.13.2"
pandas = "==2.2.3"
pyarrow = "==19.0.0"
itables = "==2.2.4"

[dev-packages]
pytest = "==8.3.4"
coverage = "==7.6.10"
pytest-cov = "==6.1.0"
ipython = "==8.32.0"

[requires]
python_version = "3.11"
